:root{
    --bg: #1a1a1a;
    --fg: #edf1e8;
}

section{
    position: relative;
    width: 100vw;
    height: 100svh;
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1{
    font-size: 4rem;
    font-weight: 800;
    letter-spacing: -0.25rem;
    line-height: 1.1;
}

.hero p{
    font-size: 1.125rem;
    font-weight: 500;
}

@media (max-width: 1000px) {
    section{
        font-size: 16vw;
    }
}
